{% extends 'base.html' %}

{% block content %}

<h1>Hoja de Ruta {{ hoja.id }}</h1>

<p><strong>Vehículo:</strong> {{ hoja.vehiculo }} <strong>Chofer:</strong> {{hoja.chofer}}</p>
<p><strong>Fecha:</strong> {{hoja.fecha}}</p>

<hr>

<h3>Remitos en esta hoja</h3>

<table class="table">
    <thead>
        <tr>
            <th>Número</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.remito.numero }}</td>
            <td>
                {% if detalle.remito.estado == 'pendiente' %}
                    <span class="badge bg-warning text-dark">Pendiente</span>
                {% elif detalle.remito.estado == 'en_ruta' %}
                    <span class="badge bg-primary">En ruta</span>
                {% elif detalle.remito.estado == 'entregado' %}
                 <span class="badge bg-success">Entregado</span>
                {% endif %}
            </td>
            <td>
                {% if detalle.remito.estado != 'entregado' %}
                        <a href="{% url 'entregar_remito' detalle.remito.id %}" class="btn btn-sm btn-success">
                             Entregar
                        </a>
                {% else %}
                    <span class="badge bg-success">Entregado</span>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay remitos cargados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<h3>Agregar Remito</h3>

<form method="post">
    {% csrf_token %}

    <select name="remito_id" class="form-control mb-2">
        {% for remito in remitos_disponibles %}
            <option value="{{ remito.id }}">
                {{ remito.numero }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">
        Agregar
    </button>
</form>

{% endblock %}